body {
  font-family: monospace;
  font-size: 18px;
  background: #111;
  color: #666;
  margin: 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  cursor: pointer;
}

button {
  border: 1px solid   #000000;
  font-family: monospace;
/*  position: relative;*/
  line-height: 60px;
  text-align: center;
  padding: 0 1.2em;
  background: #000000;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  outline: none;
  height: 50px;
  width: 20%;
  top: 260px;
  margin: 0;
  left: 20%;
}

button:hover {
  /*background:   #949494;*/
  text-decoration: underline;
}

input[type=checkbox] + label:before {
  display: inline-block;
  position: relative;
  background: #444;
  margin-right: 8px;
  content: "";
  height: 16px;
  width: 16px;
  top: 1px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}
.navblock{ width:100%; background:   #000000;margin:0 auto; text-align:left}
.navblock span{ width:30%; margin:0 1%;  }

.slide {
  position: relative;
  padding: 15vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  /*box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);*/
  transform-style: inherit;
}


.container {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0%;
}

.container--offset {
  margin-left: 0%;
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 0%;
  right: 0%;
  left: 0%;
  top: 0%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}

.layer:nth-child(1) {
  opacity: 1.0;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
  opacity: 0.90;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
  opacity: 0.85;
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(4) {
  opacity: 0.60;
}
.layer:nth-child(4) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(5) {
  opacity: 0.75;
}
.layer:nth-child(5) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
  opacity: 0.90;
}
.layer:nth-child(6) button {
}

/*<div style="position:relative; height:2200px; width:1600px; background:images/button1.png) 0 0 no-repeat;">
<a style="position:absolute; top:35px; left:61px; width:621px; height:468px;" title="" alt="" href="https://youtu.be/B13fyLKoUWw" target="_blank"></a>
<a style="position:absolute; top:21px; left:731px; width:620px; height:472px;" title="" alt="" href="https://youtu.be/qKlDXk3Ob6I" target="_blank"></a>
<a style="position:absolute; top:507px; left:702px; width:637px; height:483px;" title="" alt="" href="https://youtu.be/HG4x59lfzX8" target="_blank"></a>
<a style="position:absolute; top:862px; left:50px; width:687px; height:539px;" title="" alt="" href="xxxx4" target="_blank"></a>
<a style="position:absolute; top:988px; left:772px; width:765px; height:680px;" title="" alt="" href="xxx5" target="_self"></a>
<a style="position:absolute; top:2190px; left:203px; width:10px; height:10px;" title="" alt="" href="xxxx" target="_self"></a>
<a style="position:absolute; overflow:hidden; top:2198px; left:1598px; width:1px; height:1px;" title="HTML Map creator" alt="Image HTML map generator" href="http://www.html-map.com/" target="_self"></a>
</div>*/
